
<h1><%= @the_board.name %> </h1>

<div>
  <div>
    <h2>
      Add a new post
    </h2>

<form action="/insert_post"  method="post" >
      <div>
        <label for="name_box"> Title </label>
        <input type="text" id="name_box" name="name">
      </div>

      <div>
        <label for="body_box"> Body </label>
        <textarea name ="body" id="body" cols="30" rows= "20" > </textarea>
      </div>

      <div>
        <label for="expired"> Expires on </label>
        <input type="date" id="expired" name="expired">
      </div>

      <div> 
        <button> Add post </button>
      </div>
  </form>





    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box"> Title </label>
        <input type="text" id="name_box" name="name">
      </div>

      <div>
        <label for="body_box"> Body </label>
        <input type="text" id="body" name="body">
      </div>

      <div>
        <label for="expired"> Expires on </label>
        <input type="date" id="expired" name="expired">
      </div>



      <button>
        Add post
      </button>
    </form>
  </div>
</div>

<hr>

<h2> Active post </h2>
 

<div>
  <div>
    <table border ="1">
      <tr>
        <th> Title </th>
        <th> Body </th>
        <th> Posted on </th>
        <th> Expired on </th>
      </tr>

  
    
      <% @the_board.posts.each do |a_post| %>
      <tr>
        <td> <%=a_post.title%> </td>
        <td> <%=a_post.body%> </td>
        <td> <%=a_post.expires_on%> </td>
        <td> <%=a_post.board_id%> </td>
      </tr>
        <%end%>
    </table>
  </div>
</div>
